// stylelint-disable selector-max-id
// stylelint-disable selector-class-pattern
#roles {
    input[type='checkbox']::before {
        top: 0;
    }

    input[type='checkbox'] {
        float: left;
    }

    .form__item label {
        line-height: 22px;
        font-weight: normal;
    }

    li.form__item {
        margin-bottom: 15px;
    }
}
