{% extends "messages/email/applicant_base.html" %}
{% load i18n %}
{% block content %} {% with source.get_answers_dict as answers  %} {% blocktrans with title=source.title organization_name=answers.organization_name %}Thank you for submitting your grant application {{ title }} for {{ organization_name }} to {{ ORG_SHORT_NAME }}! We appreciate the time and care you have put into your application.{% endblocktrans %}

{% blocktrans %}Please allow between 1-3 months for us to review your proposal. During this time, {{ ORG_SHORT_NAME }} Staff may be in touch with follow up questions or requests for revised information. If your proposal is time sensitive please contact our staff to see if it is possible to expedite your review.{% endblocktrans %}

{% blocktrans %}At any time you can view your submitted proposal here:{% endblocktrans %} {{ request.scheme }}://{{ request.get_host }}{{ source.get_absolute_url }}

{% blocktrans %}You can contact our staff about your proposal by emailing {{ ORG_STAFF_EMAIL }} or calling +1-858-477-9900, Monday to Friday, between 9am – 4pm Pacific Time.{% endblocktrans %} 

{% blocktrans %}Thank you,{% endblocktrans %} 

{% blocktrans %}
Chelsea Párraga
Grants Manager
{{ ORG_LONG_NAME }} ({{ ORG_SHORT_NAME }})
+1-858-477-9900
{{ ORG_STAFF_EMAIL }}
{% endblocktrans %} {% endwith %} {% endblock %}