{% load activity_tags %}{% load bleach_tags i18n %}{{ determination.message|add_ptag_newlines|bleach|striptags }}

If you would like to discuss this outcome, you may contact Chelsea Parraga, Grants Manager at +1-858-477-9900 or {{ ORG_STAFF_EMAIL }}. We appreciate any feedback you would like to share with us about our process.
Thank you for the time you invested in your application. We are happy to work with you in the future on a proposal that better fits our goals.

Sincerely,
Rosy

Rosy Schechter
Executive Director
{{ ORG_LONG_NAME }} ({{ ORG_SHORT_NAME }})
+1-858-477-9900
{{ ORG_STAFF_EMAIL }}
