{% extends "messages/email/applicant_base.html" %}{% load bleach_tags i18n %}
{%- block content -%}
{%- with source.get_answers_dict as answers -%}
{%- if determination.clean_outcome == 'Approved' -%}
{{ determination.message|bleach|striptags }}

Link to view your proposal: {{ request.scheme }}://{{ request.get_host }}{{ determination.get_absolute_url }}

If you have any questions, you may contact Chelsea Parraga, Grants Manager at +1-858-477-9900 or {{ ORG_STAFF_EMAIL }}.

Congratulations!

Rosy Schechter
Executive Director
{{ ORG_LONG_NAME }} ({{ ORG_SHORT_NAME }})
+1-858-477-9900
{{ ORG_STAFF_EMAIL }}
{%- endif -%}
{%- if determination.clean_outcome == 'Dismissed' -%}
{{ determination.message|bleach|striptags }}

If you would like to discuss this outcome, you may contact Chelsea Parraga, Grants Manager at +1-858-477-9900 or {{ ORG_STAFF_EMAIL }}. We appreciate any feedback you would like to share with us about our process.
Thank you for the time you invested in your application. We are happy to work with you in the future on a proposal that better fits our goals.

Sincerely,
Rosy

Rosy Schechter
Executive Director
{{ ORG_LONG_NAME }} ({{ ORG_SHORT_NAME }})
+1-858-477-9900
{{ ORG_STAFF_EMAIL }}
{%- endif -%}
{%- if determination.clean_outcome == 'More information requested' -%}
{{ determination.message|bleach|striptags }}

You may update your proposal here:  {{ request.scheme }}://{{ request.get_host }}{{ determination.get_absolute_url }}

If you would like to discuss these requested changes, please call me at +1-858-477-9900.

Warmly,
Chelsea

Chelsea Párraga
Grants Manager
+1-858-477-9900
{{ ORG_STAFF_EMAIL }}
{%- endif -%}
{%- endwith -%}
{%- endblock -%}
