{% if source.is_draft %}
Please note that it is not submitted for review because it's still in draft. You can access the draft at: {{ request.scheme }}://{{ request.get_host }}{{ source.get_absolute_url }}
{% else %}
Thank you for submitting your grant application to ARDC! If you would like to view your application you can see it here: {{ request.scheme }}://{{ request.get_host }}{{ source.get_absolute_url }}
It may take up to 3 months for us to get a decision back to you after our deadline closes. If you are awarded funding, issuing your check may take several weeks after that. If your project is highly time sensitive, please let us know by emailing giving@ardc.net. In all cases, we care about your proposal and are working to get you a timely response!
FAQ:
I submitted by mistake! Can you undo this?
You can withdraw your application and copy-paste your application answers into a new application. Unfortunately we can't revert you to "draft" mode.
What is my grant application status?
If you got this email, your grant is currently under review. We will reach out to you when a decision is made. This can take up to 3 months after our grant deadline closes, and we can't share more information about your status with you until then.
What will happen if I am awarded a grant?
See: https://www.ampr.org/apply/what-happens-after-you-get-an-ardc-grant/
If I’m rejected can I get feedback? Can I reapply?
Yes. If your grant ends up being rejected you can call +1-858-477-9900. We’re happy to discuss feedback, and you can always reapply!
I emailed you. When can I expect a response?
If you need a response quickly, please indicate that in your subject line. We get dozens of emails a day and have a small staff. During our busiest times it may take a few weeks to get a response for a non-urgent requests. Keep in mind you can always call us at +1-858-477-9900.
Thanks,
The ARDC Grants Team
{% endif %}
