{% extends "funds/base_submissions_table.html" %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block title %}{% trans "Submissions" %}{% endblock %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner wrapper--search">
        {% block page_header %}
            <div>
                <h1 class="gamma heading heading--no-margin heading--bold">{% trans "Submissions" %}</h1>
                <h5>{% trans "Track and explore recent submissions" %}</h5>
            </div>
        {% endblock %}
        {% block page_header_tabs %}
            {% if request.user.is_apply_staff %}
            <div class="tabs">
                <div class="tabs__container">
                    <a class="tab__item tab__item--right" href="{% url 'apply:submissions:staff_assignments' %}">
                        {% trans "Staff assignments" %}
                    </a>
                    <a class="tab__item tab__item--right" href="{% url 'apply:submissions:reviewer_leaderboard' %}">
                        {% trans "Reviews" %}
                    </a>
                    <a class="tab__item tab__item--right" href="{% url 'apply:submissions:result' %}">
                        {% trans "Results" %}
                    </a>
                </div>
            </div>
            {% endif %}
        {% endblock %}
    </div>
</div>

<div class="wrapper wrapper--large wrapper--inner-space-medium">

    {% for section in included_sections %}
        {% if section == 'status_block' %}
            {% include "funds/includes/status-block.html" with type="Applications" %}

        {% elif section == 'round_block' %}
            {% if closed_rounds or open_rounds or future_rounds %}
                {% include "funds/includes/round-block.html" with closed_rounds=closed_rounds open_rounds=open_rounds title=rounds_title page_type='submission' %}
            {% endif %}

        {% elif section == 'table_block' %}
            {% block table %}
                <div class="wrapper wrapper--bottom-space">

                    <h4 class="heading heading--normal">Recent Submissions</h4>

                    {% render_table table %}
                    <div class="all-submissions-table__more">
                        <a href="{% url 'apply:submissions:list' %}">{% trans "Show all" %}</a>
                    </div>
                </div>

                {% if staff_flagged.table.data %}
                <div class="wrapper wrapper--bottom-space">
                    <h4 class="heading heading--normal">{% trans "Staff Flagged Submissions" %}</h4>
                    {% render_table staff_flagged.table %}
                    {% if staff_flagged.display_more %}
                        <div class="all-submissions-table__more">
                            <a href="{% url 'apply:submissions:staff_flagged' %}">{% trans "Show all" %}</a>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            {% endblock %}
        {% endif %}
    {% endfor %}

</div>
{% endblock %}
