// stylelint-disable no-empty-source
.js-sidebar-toggle, .tab__item--right {
    display: none;
}

table td.id, table th.id {
    padding-left: 20px;
}

table td.id a {
    color: #404041;
    font-weight: 700;
}

table td.title, table th.title {
    padding-left: 20px;
    @include media-query($table-breakpoint){
        padding-left: 0;
    }
}

.heading--number {
    color:rgba(184, 176, 176, 0.5);
}

.link--withdraw-submission {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 2px solid #cfcfcf;
    font-weight: 700;
}

.reviews-summary__td {
    text-align: center;
}

.counts-separator {
    color: rgb(200, 200, 200);
}
